{% layout "./base.liquid" %}

{% block content %}
  {% assign music_content = blogpost.content.markdown | music | strip %}
  {% assign songquote_content = blogpost.content.markdown | songquote | strip %}
  {% assign postscript_content = blogpost.content.markdown | postscript | strip %}

  <main class="page__content printable">
    <article class="blog">
      <div class="page-title">
        <h1 class="page-title__h1">{{ blogpost.title }}</h1>
        <p class="page-title__meta">
          <time datetime="{{ blogpost.publishedAt }}">
            {{ blogpost.publishedAt | blogPostTimestamp }}
          </time>
          <span class="read-length">
            <span class="read-length__time">
              {{ blogpost.readTimeInMinutes }} minute read
            </span>
            <svg role="presentation" class="read-length__monospace-spacer"></svg>
          </span>
        </p>
      </div>
      <div class="blog__copy">
        {% if songquote_content != "" %}
          <div class="blog__songquote" data-theme="memo-aux">
            {{ songquote_content | safe }}
            <br>
          </div>
        {% endif %}
        <div data-theme="memo">
          {{ blogpost.content.markdown | formatted | safe }}
        </div>
      </div>
      <p class="blog__signature">&mdash; {{ blogpost.author.name }}</p>

      {% if postscript_content != "" or music_content != "" %}
        <aside class="blog__copy blog__postscript" data-theme="memo-aux">
          {{ postscript_content | safe }}
          {{ music_content | safe }}
        </aside>
      {% endif %}
    </article>
  </main>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Blog",
      "url": "{{ blogpost.url }}",
      "text": "{{ blogpost.content.text | json | slice: 1, -1 }}",
      "headline": "{{ blogpost.title | json | slice: 1, -1 }}",
      "datePublished": "{{ blogpost.publishedAt }}",
      "copyrightHolder": "CRHain Design LLC",
      "author": {
        "@type": "Person",
        "givenName": "{{ blogpost.author.givenName }}",
        "familyName": "{{ blogpost.author.familyName }}"
      }
    }
  </script>
{% endblock %}
