<div class="footer">
  <footer class="footer__footer">
    <div class="content">
      <div class="footer__content">
        <div>
          <small class="footer__copyright">
            <span>&copy;2011&ndash;{{ "now" | date: "%Y" }} CRHain Design LLC.</span>
            All rights reserved. Logos, graphics, and writing of work samples
            copyright of their respective owners. Views expressed on this site are
            those of CRHain Design LLC, and do not necessarily reflect those of the
            client or employer.

            {% if footerTypes contains "csm" %}
              "CERTIFIED SCRUM DEVELOPER&reg;" (or "CSD&reg;") is a registered
              mark of Scrum Alliance, Inc. Any unauthorized use is strictly
              prohibited.
            {% endif %}

            {% if footerTypes contains "webby" %}
              "THE WEBBY AWARDS" is a trademark of Recognition Media, LLC.
            {% endif %}

            {% if footerTypes contains "pantone" %}
              PANTONE&reg; and other Pantone trademarks are the property of Pantone LLC.
            {% endif %}

            {% if footerTypes contains "vecteezy-crt-tv-screen" %}
              <a
                rel="nofollow"
                href="https://www.vecteezy.com/video/54561226-an-old-television-screen-with-a-white-background"
                title="Vecteezy Stock Footage"
                target="_blank"
              >An Old Television Screen With A White Background Stock Video by Vecteezy</a>
            {% endif %}
          </small>

          <nav>
            <ul class="footer__quick-links">
              {% for menuItem in menu %}
                {% if menuItem.type == "footer" %}
                  <li>
                    <a
                      href="{{ menuItem.attributes.href }}"
                      title="{{ menuItem.attributes.title }}"
                      target="{{ menuItem.attributes.target }}"
                    >
                      {{ menuItem.attributes.displayValue }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>

        {% if footerTypes contains "written-by-human" %}
          {% include "./written-by-human.liquid" %}
        {% endif %}
      </div>
    </div>
  </footer>
</div>
