<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.permalink }}" rel="self" />
  <updated>{{ blogposts[0].data.date | atom_dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  <icon>https://assets.christianhain.com/favicons/favicon.png</icon>
  {% for blogpost in blogposts %}
    {% assign _absolutePostUrl = blogpost.url | absoluteUrl: metadata.url %}

    <entry>
      <title>{{ blogpost.data.title }}</title>
      <link href="{{ _absolutePostUrl }}" />
      <updated>{{ blogpost.data.date | atom_dateToRfc3339 }}</updated>
      <id>{{ blogpost.data.url }}</id>
      <summary>
        {{ blogpost.data.brief }}
      </summary>
      <content xml:lang="{{ metadata.language }}" type="html">
        <![CDATA[
          {{ blogpost.content | markdown | htmlToAbsoluteUrls: _absolutePostUrl }}
        ]]>
      </content>
      {% if blogpost.data.ogImage %}
        <media:thumbnail xmlns:media="http://search.yahoo.com/mrss/"
          url="{{ blogpost.data.ogImage }}"
          height="129" width="247"
        >
        </media:thumbnail>
      {% endif %}
    </entry>
  {% endfor %}
</feed>
