{% layout "./base.liquid" %}

{% block content %}
  {% assign music_content = content | music %}
  {% assign songquote_content = content | songquote %}
  {% assign postscript_content = content | postscript %}

  <main class="page__content printable">
    <article class="blog">
      <div class="page-title">
        <h1 class="page-title__h1">{{ title }}</h1>
        <p class="page-title__meta">
          <time datetime="{{ date }}">
            {{ date | blogPostTimestamp }}
          </time>
          <span class="read-length">
            <span class="read-length__time">
              {{ readTime }} minute read
            </span>
            <svg role="presentation" class="read-length__monospace-spacer"></svg>
          </span>
        </p>
      </div>
      <div class="blog__copy">
        {% if songquote_content != "" %}
          <div class="blog__songquote" data-theme="memo-aux">
            {{ songquote_content | formatted | safe }}
            <br>
          </div>
        {% endif %}
        <div data-theme="memo">
          {{ content | formatted | safe }}
        </div>
      </div>
      <p class="blog__signature">&mdash; {{ author }}</p>

      {% if postscript_content != "" or music_content != "" %}
        <aside class="blog__copy blog__postscript" data-theme="memo-aux">
          {{ postscript_content | safe }}
          {{ music_content | safe }}
        </aside>
      {% endif %}
    </article>
  </main>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Blog",
      "url": "{{ url }}",
      "text": "{{ brief }}",
      "headline": "{{ title }}",
      "datePublished": "{{ date }}",
      "copyrightHolder": "CRHain Design LLC",
      "author": {
        "@type": "Person",
        "givenName": "{{ authorGiven }}",
        "familyName": "{{ authorFamily }}"
      }
    }
  </script>
{% endblock %}
