{% layout "./base.liquid" %}

{% block content %}
  <main>
    <section class="intro">
      <div class="intro__text content">
        <h1>Oh... you know... AI, or whatever!</h1>
        <p>
          LLMs are here, and things are moving quickly! Keep up with me and
          check out my curated "WebDev & stuff" YouTube Playlist.
        </p>
        <a
          rel="nofollow"
          href="https://www.youtube.com/playlist?list=PLSEh4ee3tzIAaZVFRGoLlM1fNCmOBAxnW"
          class="youtube-cta cta cta--primary"
          target="_blank"
          title="@XianHain on YouTube"
        >
          <span class="youtube-cta__icon">
            {% include "../icons/youtube-solid.svg" %}
          </span>
          <span class="youtube-cta__text">
            Go to playlist!
          </span>
        </a>
      </div>
      <div class="intro__video-wrapper">
        <video class="intro__video" autoplay="true" playsinline="true" muted="true" loop="true">
          <source src="https://assets.christianhain.com/videos/intro-background-video-2025-01-14.mp4">
        </video>
      </div>
    </section>
    <section class="blog">
      <div class="blog__content">
        <div class="blog__entries">
          {% for item in pagination.items %}
            <article class="blog-entry portal-window">
              <div class="blog-entry__window portal-window__screen">
                <div class="blog-entry__content">
                  <h1 class="blog-entry__title">{{ item.data.title }}</h1>
                  <div class="blog-entry__body-copy">
                    <p class="blog-entry__meta page-title__meta">
                      <time datetime="{{ item.data.publishedAt }}">
                        {{ item.data.date | blogPostTimestamp }}
                      </time>
                      <span>
                        {{ item.data.readTime }} minute read
                      </span>
                    </p>
                    <p class="blog-entry__brief">
                      {{ item.data.brief | formatted }}
                    </p>
                    <ul class="blog-entry__link-list">
                      <li>
                        <a class="blog-entry__link" href="{{ item.page.url }}" title="{{ item.data.title }}">
                          Read Post
                        </a>
                      </li>
                      <li>
                        <a class="blog-entry__link" href="/blog/" title="Blog">
                          View All Posts
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="work-with-me work-with-me-grid">
      <div
        rel="js-headshot"
        class="headshot work-with-me__headshot"
        data-state="original"
        data-tweening="false"
      >
        <img
          alt="Christian Hain's Headshot"
          rel="js-headshot--original"
          src="https://assets.christianhain.com/images/xianhain-headshot.png"
          width="160"
          height="160"
        >
        <img
          alt="Christian's Adobe Creative Type Illustration: The Innovator"
          rel="js-headshot--modified"
          src="https://assets.christianhain.com/images/adobe-innovator.gif"
          class="headshot__modified-img"
          width="160"
          height="160"
          aria-hidden="true"
        >
      </div>
      <section class="work-with-me__about">
        <h2 class="work-with-me__title">Hello, World!</h2>
        <p class="work-with-me__p">I'm Christian <span>(he/him)</span>, and I'm an Internet power-user,
          creator, and
          <a
            href="/cv#scrum-developer"
            title="View Scrum Certification"
          >Advanced-Certified Scrum Developer&reg;</a>
          engineer. Specializing in browser-based experiences, my goal is to
          share what I know about making beautiful
          <abbr title="user interfaces">UI</abbr> and frictionless
          <abbr title="user experiences">UX</abbr> accessible to everyone.
        </p>
        <ul class="work-with-me__socials" aria-label="Web Presence">
          {% for profile in socialProfiles %}
            <li rel="js-menu-item" data-active="false">
              <a
                rel="{{ profile.attributes.rel | join: " " }} js-menu-item-link"
                href="{{ profile.attributes.href }}"
                class="work-with-me__social-link"
                title="{{ profile.attributes.title }}"
                target="{{ profile.attributes.target }}"
              >
                <span class="work-with-me__social-link-icon">
                  {% assign _iconPath = "../icons/" | append: profile.id | append: ".svg" %}
                  {% include _iconPath %}
                </span>
                <span class="work-with-me__social-link-text">{{ profile.attributes.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
      <section class="work-with-me__tenets">
        <div class="tenets">
          <h3 id="tenets" class="tenets__title">These are my tenets</h3>
          <p>
            Want to know what it's like working with me? Expect an unwavering
            commitment to users and the Web Development community.
          </p>
          <ol class="tenets__list" aria-labelledby="tenets">
            <li>
              <h4 class="tenets__title">
                The interface <em>is</em> the product.
              </h4>
              Everything else is an implementation detail. Quality is visible.
              Craft, performance, and accessibility define how a product is
              experienced, and, therefore how it is judged. Let's aim for 10s
              across the board.
            </li>
            <li>
              <h4 class="tenets__title">
                Clarity and standards are non-negotiable.
              </h4>
              We cannot afford cognitive debt or overload, especially not with
              <abbr title="large language model">LLM</abbr>-generated code.
              Architecture decisions, patterns, and tooling must prioritize the
              developer experience. Solutions ought to align with the spirit of
              the <a rel="nofollow" href="https://www.w3.org" title="Making the web work" target="_blank">W3C</a>
              and open web standards. Processes should reflect the discipline of
              the open source community, even in proprietary environments.
            </li>
            <li>
              <h4 class="tenets__title">
                Leaders feed their people.
              </h4>
              They teach them how to fish. Leadership is measured by lasting
              impact. A good leader delivers results; a great leader delivers
              culture. Culture expands minds, challenges beliefs, and drives
              action. It connects us to our work and excites us about what we're
              building. If we didn't want culture, we'd be working the night
              shift at the morgue.
            </li>
          </ol>
        </div>
        <div class="ctas content">
          <a
            href="/cv"
            class="cta cta--primary"
            title="Curriculum Vitae"
          >
            Take a look at my <abbr title="curriculum vitae">CV</abbr>
          </a>
          <a
            rel="nofollow"
            class="cta cta--primary"
            href="https://www.linkedin.com/in/crhain"
            title="Go to LinkedIn.com"
            target="_blank"
          >
            Check out my LinkedIn
          </a>
        </div>
      </section>
      <section class="social-proof">
        <div class="social-proof-container social-proof-container--awards">
          <h3 id="work-with-me-awards" class="social-proof-container__title">
            Awards and Certifications
          </h3>
          <ol aria-labelledby="work-with-me-awards" class="social-proof-container__list">
            <li class="award award--webby"><a href="/cv#webby-awards" title="Webby Awards">5-time Webby Award Honoree</a></li>
            <li class="award award--csd"><a href="/cv#scrum-developer" title="Scrum Certification">Advanced-Certified Scrum Developer</a></li>
          </ol>
        </div>
        <div class="social-proof-container social-proof-container--companies">
          <h3 id="work-with-me-companies" class="social-proof-container__title">
            Companies I've developed with
          </h3>
          <ol aria-labelledby="work-with-me-companies" class="social-proof-container__list">
            <li class="company company--finquery">FinQuery</li>
            <li class="company company--outworlders">OutWorlders</li>
            <li class="company company--amazon">Amazon</li>
            <li class="company company--cnn">CNN</li>
            <li class="company company--delta">Delta</li>
            <li class="company company--smartvent">Smart Vent, Inc.</li>
          </ol>
        </div>
      </section>
    </section>
  </main>
{% endblock %}
