<div class="menu">
  <ul class="menu__list">
    {% for menuItem in menu %}
      {% assign _iconPath = "../icons/" | append: menuItem.id | append: ".svg" %}
      {% if menuTypes contains menuItem.type %}
        <li rel="js-menu-item" data-active="false">
          {% if menuItem.attributes.href %}
            <a
              rel="{{ menuItem.attributes.rel | join: " " }} js-menu-item-link"
              href="{{ menuItem.attributes.href }}"
              class="menu__link"
              title="{{ menuItem.attributes.title }}"
              target="{{ menuItem.attributes.target }}"
            >
              <span class="menu__link-icon">
                {% include _iconPath %}
              </span>
              <span class="menu__link-text">{{ menuItem.attributes.title }}</span>
            </a>
          {% else %}
            <button
              rel="{{ menuItem.attributes.rel | join: " " }} js-menu-item-link"
              onclick="{{ menuItem.attributes.onclick }}"
              class="menu__button"
              title="{{ menuItem.attributes.title }}"
            >
              <span class="menu__link-icon">
                {% include _iconPath %}
              </span>
              <span class="menu__link-text">{{ menuItem.attributes.title }}</span>
            </button>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
