<div class="menu">
  <nav class="menu__nav portal-window">
    <ul class="menu__list portal-window__screen">
      {% for menuItem in menu %}
        {% assign _iconPath = "../icons/" | append: menuItem.id | append: ".svg" %}

        {% if menuItem.type == "navigation" %}
          {% assign active = false %}
          {% assign firstPath = page.url | split: "/" | slice: 1, 1 | first %}
          {% if firstPath == menuItem.id %}
            {% assign active = true %}
          {% elsif page.url == "/" and menuItem.id == "home" %}
            {% assign active = true %}
          {% endif %}

          <li rel="js-menu-item" data-active="{{ active }}">
            {% if menuItem.attributes.href %}
              <a
                rel="{{ menuItem.attributes.rel | join: " " }}"
                href="{{ menuItem.attributes.href }}"
                class="menu-item menu-item--link menu-item--{{ menuItem.id }}"
                title="{{ menuItem.attributes.title }}"
                target="{{ menuItem.attributes.target }}"
              >
                <span class="menu-item__icon">
                  {% include _iconPath %}
                </span>
                <span class="menu-item__text">{{ menuItem.attributes.title }}</span>
              </a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>


    {% for menuItem in menu %}
      {% if menuItem.type == "utility" and menuTypes contains "utility" %}
        {% assign _iconPath = "../icons/" | append: menuItem.id | append: ".svg" %}
        <button
          rel="{{ menuItem.attributes.rel | join: " " }}"
          class="menu-item menu-item--button"
          title="{{ menuItem.attributes.title }}"
          onclick="{{ menuItem.attributes.onclick }}"
        >
          <span class="menu-item__icon">
            {% include _iconPath %}
          </span>
          <span class="menu-item__text">{{ menuItem.attributes.title }}</span>
        </button>
      {% endif %}
    {% endfor %}
  </nav>
</div>
